.title {
    color:#EC2D01;
    margin: 8px;
    font-size: 48px;   
}

.description {
    color: #fff;
    font-weight:400;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.1em;
    margin: 0 auto;
    width: 475px;
    padding: 8px;
}