.btn {
    margin: 5px;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid transparent;
}

.btn:hover,
.btn:focus {
    border-color: #646cff;
    color: #646cff;
}

.btnReset {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid transparent;
    margin: 5px;
}

.btnReset:hover,
.btnReset:focus {
    border-color: red;
    color: red;
}

